.home-container {

    display: block;
}

.logo-container {
    display: flex;
    justify-content: center;
}
.logo {
    width: 270px;
    margin-top: 5.5%;
  }

  .searchbar{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    /* width: 50%; */
  }
  
  .center {
    width: 50%;
    display: flex;
    justify-content: center;
    
  }

  .btns {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    flex-direction: row;
    column-gap: 15px;
  }

  .text {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 13px;
    font-weight: 200;
    flex-direction: row;
    column-gap: 9px;
  }

  .text a {
    text-decoration: none;
    color: rgb(0, 0, 185);
  }

  .text a:hover {
    border-bottom: 1px solid rgb(0, 0, 185);
  }

  @media (max-width: 900px) {
    .logo {
      width: 220px;
      margin-top: 20%;
    }
    .text {
      font-size: 11px;
    }
  }

  @media (max-width: 500px) {
    .logo {
      width: 110px;
      margin-top: 20%;
    }
    .btns {
      margin-top: 8px;
      column-gap: 7px;
    }
    .text {
      font-size: 5px;
      column-gap: 5px;
      margin-top: 12px;
    }
  }